<% if @presence %>
  $("#presenceInput").replaceWith(
    "<%= escape_javascript(render(:partial => 'events/presence_destroy')) %>"
  );

  var presenceId = '<%= "presence#{@presence.key}" %>';
  $("#peopleAttending").append(
    '<li id="' + presenceId + '"> <%= link_to(@user.login, @user) %> </li>'
  );

  $("#flash").text("You have announced your presence");
<% else %>
  $("#flash").text("You have already announced your presence");
<% end %>
