/*
|------------------------------------------------------------------------------|
| SUPERAWESOME CSS FRAMEWORK - EMBEDDABLE STYLE SHEET |
|------------------------------------------------------------------------------|
| v1.0 by Dragan Babic | http://sprawsm.com/          |
|------------------------------------------------------------------------------|
*/

@import "sprawsm-typography.css";
@import "sprawsm-layout.css";
@import "sprawsm-extras.css";
@import "sprawsm-wireframe.css";

/* !Generals */
html{}
body{}

/* !Link Colors */

a:link, a:visited {
  color: #339194;
}

a:hover {
  background: #339194;
  color: #fff;
}

a:active{}

/* !Headings */

h1 {
  font-size: 160%;
  line-height: 120%;
  width: 960px;
  overflow: hidden;
  margin: 0 auto;
}

h1 strong, #header h1 strong a, #header h1 strong a:hover {
  float: left;
  color: #F6D86B;
  letter-spacing: -1px;
  text-decoration: none;
  background: none;
}

h1 em {
  float: right;
  font-size: 60%;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  background: #eee;
  color: #000;
  padding-left: 1em;
  padding-right: 1em;
}

h2 {
  text-transform: none;
  font-size: 1.4em;
}

.nonHolder {
  padding: 0.5em 0;
}

h3 {
  margin: 1em 1.25%;
  text-align: center;
}

.cs-4 h3 {
  text-align: left;
}

/* !Header */

#header {
  padding: 1em 0;
  border-bottom: 1px solid #9e5c8b;
  background: #A70267;
  color: #fff;
}

/* !Footer */

#footer{
  border-top: 1px solid #dfdfdf;
  background: #efefef;
  margin-top: 1.5em;
  padding: 1em 0;
}

#footer p {
  width: 960px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 10px;
  text-align: right;
}

/* !Main Content */

#mainContent {
  width: 960px;
  margin: 0 auto;
}

#content{ position: relative; }
  #mainContent{}
    #content:after, #mainContent:after{ content: "."; display: block; height: 0; line-height: 0; font-size: 0; clear: both; min-height: 0; visibility: hidden; }

#mainContent {
  font-size: 1.4em;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-ms {
  margin: 0 0 1em 0;
  padding: 1px 0 1em 0;
}

.col{ }

/* forms */

.ctrlHolder {
  margin-top: 1em;
  margin-bottom: 1em;
}
